# Visual Studio yerel ayarlari
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build ciktilari
x64/
Debug/
Release/
build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Visual Studio ara dosyalari
Proje_Ma.916ecf1e/
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.lastbuildstate
*.recipe
*.res
*.aps